s---
---

<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jura&family=Marcellus&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./media/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/83a9db9260.js" crossorigin="anonymous"></script>

		
		<title>Thomas Cano Morant</title>
	</head>
	<body class="bg-BCgreen font-sans">
	<div class=" items-center ">
			<div class="grid grid-cols-1 place-content-center items-center mb-3">	
				<div class="bg-slate-50 dark:bg-gradient-to-r from-BCblue to-cyan-900 text-BCblue dark:text-slate-50 rounded-lg m-2 p-2 basis-full flex flex-col flex-wrap lg:flex-row   md:mx-12 lg:mx-20 items-center">
					<img src="./media/Carre.jpg" class="rounded-full border-8 border-BCgreen border-solid  w-3/5 my-4 lg:w-1/4 lg:mx-4">
							<div class=" flex flex-col items-center  text-left ">
								<h1 class="text-5xl lg:text-8xl text font-black m-2 drop-shadow-xl" style="font-family: Jura ">Thomas<br />
								<span class="">Cano Morant</span>
								</h1>
									<div class="w-1/2 h-px bg-BCblue dark:bg-slate-50 my-4"></div>
								<h2 class="mx-2 text-xl lg:text-3xl my-4"> Willing to participate <br/> to the cursus of web developer</h2>
							</div>
							<div class=" text-left lg=text-right text-xl lg:ml-20">
							<i class="fa-solid fa-at mb-2"></i> <a href="mailto:t.canomorant@icloud.com">t.canomorant@icloud.com</a> <br>
							<i class="fa-solid fa-mobile-screen-button mb-2"></i><a href="tel:+32-495-248294">&nbsp;&nbsp;0495248294</a><br>
							<i class="fa-solid fa-map-location mb-2"></i> Fonteinstraat 3 <br>&nbsp;&nbsp;&nbsp;&nbsp; 9667 Horebeke<br>
							<i class="fa-solid fa-car"></i> B
							</div>
						</div>	
			</div>		
			
				
			
	</div>
	<div id="introcontainer" class="bg-slate-50 dark:bg-gradient-to-r from-BCblue to-cyan-900 dark:text-slate-50 rounded-xl m-2 p-2 basis-full flex flex-col flex-wrap lg:flex-row text-lg drop-shadow-lg shadow-inner md:mx-12 lg:mx-20">
				<div id="introFR" class="hidden">
					<h1 class="m-2">Madame, monsieur,</h1>
					<p class="mx-2 my-2">
						Mon attention a été immédiatement attirée par l'annonce sur le site de BeCode dans laquelle vous présentez votre formation pour faire de moi un développeur web junior. Mon profil correspond bien à celui que vous recherchez et j'aimerais vous expliquer pourquoi dans cette lettre.
					</p>
					<p class="mx-2 my-2">
					Pour le moment, je suis sans emploi. Je voudrais utiliser les possibilités de BeCode pour développer mes compétences et acquérir les connaissances partagée par vos soins afin de pouvoir solliciter au poste de développeur web junior. Mes expériences précédentes peuvent me donner un atout afin de suivre une formation auprès de vous.
					</p>
					<p class="mx-2 my-2">
						Ce qui m'a beaucoup plus dans votre proposition de formation c'est le fait d'apprendre en produisant des projets concret, le partage des connaissances entre les "élèves" et le stage en milieux professionnel. Je me décrirais comme quelqu'un qui est curieux, n'a pas peur de faire des erreurs, aimant transmettre mes connaissances et déterminé. Je souhaite utiliser ces qualités au sein de votre formation. Mes expériences passées me permettent de préciser que c'est la voie que je souhaite suivre au seins de BeCode.
					</p>
					<p class="mx-2 my-2">
					Je souhaiterais vous expliquer plus précisément ma motivation pour le poste de développeur web junior lors d'un rendez-vous. Vous pouvez me joindre par téléphone au 0495248294 ou par e-mail a t.canomorant@icloud.com.
					</p>
					<p class="mx-2 my-2">
					Cordialement,
					<br />
					Thomas Cano Morant
					</p>
				</div>
				<div id="introNL"class=" hidden">
					<h1 class="m-2">Geachte mevrouw, geachte heer,</h1>
					<p class="mx-2 my-2">
						Mijn aandacht werd onmiddellijk getrokken door de advertentie op de website van BeCode waarin u uw opleiding tot junior webontwikkelaar voorstelt. Mijn profiel stemt goed overeen met datgene wat u zoekt en ik wil u in deze brief graag uitleggen waarom.
					</p>
					<p class="mx-2 my-2">
						Op dit moment ben ik werkloos. Ik wil graag gebruik maken van de mogelijkheden van BeCode om mijn vaardigheden te ontwikkelen en de door u gedeelde kennis te verwerven om te solliciteren naar de functie van junior web developer. Mijn eerdere ervaringen kunnen mij een voordeel geven om met u een training te volgen.
					</p>
					<p class="mx-2 my-2">
						Ik zou mezelf omschrijven als iemand die nieuwsgierig is, niet bang is om fouten te maken, bereid is om mijn kennis door te geven en vastberaden is. Ik wil deze kwaliteiten graag gebruiken in je training. Op grond van mijn ervaringen uit het verleden kan ik zeggen dat dit de weg is die ik binnen BeCode wens te volgen.
					</p>
					<p class="mx-2 my-2">
						Ik wil graag mijn motivatie voor de positie van junior webontwikkelaar toelichten tijdens een gesprek. U kunt mij telefonisch bereiken op 0495248294 of per e-mail op t.canomorant@icloud.com.
					</p>
					<p class="mx-2 my-2">
						Hoogachtend,
					<br />
					Thomas Cano Morant
					</p>
				</div>
				<div id="introEN" class="">
					<h1 class="m-2">Dear Madam, dear Sir,</h1>
					<p class="mx-2 my-2">
						My attention was immediately drawn to the advertisement on the BeCode website in which you present your training to make me a junior web developer. My profile corresponds well to the one you are looking for and I would like to explain why in this website.
					</p>
					<p class="mx-2 my-2">
						At the moment I am unemployed. I would like to use the possibilities of BeCode to develop my skills and acquire the knowledge shared by you in order to apply for the position of junior web developer. My previous experiences can give me an advantage to follow a training with you.
					</p>
					<p class="mx-2 my-2">
						What I liked most about your training proposal is the fact that we learn by producing concrete projects, the sharing of knowledge between the "students" and the internship in a professional environment.<br> I would describe myself as someone who is curious, not afraid to make mistakes, who likes to pass on my knowledge and who is committed. I would like to use these qualities in your training. My past experiences allow me to specify that this is the path I wish to follow within BeCode.
					</p>
					<p class="mx-2 my-2">
						I would like to explain my motivation for the position of junior web developer during a meeting. You can reach me by phone at 0495248294 or by e-mail at t.canomorant@icloud.com.
					</p>
					<p class="mx-2 my-2">
						Sincerely,
					<br />
					Thomas Cano Morant
					</p>
				</div>
	</div>	
			<div class="basis-full flex flex-row flex-wrap md:flex-row md:mx-12 lg:mx-20 text-lg lg:grid lg:grid-cols-3 lg:place-content-stretch m-2">
				<div class="bg-slate-50 dark:bg-gradient-to-r from-BCblue to-cyan-900 dark:text-slate-50 rounded-xl  md:mx-0 lg:mr-2 p-4 grow">
				<h1 class="text-2xl font-bold md:text-4xl mt-2 mb-4 underline underline-offset-4" style="font-family: Jura ">Skills</h1>
					<ul class="list-disc m-4">
						<li class="mb-3">
							<h2 class="text-lg font-medium md:text-2xl capitalize m-b-2"><i class="fa-solid fa-code"></i> Code structure</h2>
							-I am a bit rusted but i still have the knack of it 	
						</li>
						<li class="mb-3">
							<h2 class="text-lg font-medium md:text-2xl capitalize m-b-2"><i class="fa-brands fa-html5"></i> HTML 5</h2>
							-A refresh is never a bad thing, but i think i'm doing well.
						</li>
						<li class="mb-1">
							<h2 class="text-lg font-medium md:text-2xl capitalize m-b-2"><i class="fa-brands fa-css3-alt"></i> CSS3</h2>
							-A lot of practice is necessary to have the new technologies under the knee.	
						</li>
						<li class="mb-1">
							<h2 class="text-lg font-medium md:text-2xl capitalize m-b-2"><i class="fa-brands fa-square-js"></i> Javascript</h2>
							-I understand the logic behind it but i really need a lot of practice.	
						</li>
						<li class="mb-1">
							<h2 class="text-lg font-medium md:text-2xl capitalize m-b-2"> <i class="fa-brands fa-php"></i> PHP,&nbsp;<i class="fa-brands fa-react"></i> React,&nbsp;<i class="fa-brands fa-angular"></i> Angular,&nbsp;<i class="fa-brands fa-git"></i> Git.  </h2>
							-Those technologies are new to me and I can't wait to learn, understand and use them.	
						</li>
					</ul>
				</div>
				<div class="bg-slate-50 dark:bg-gradient-to-r from-BCblue to-cyan-900 dark:text-slate-50 rounded-xl my-2 lg:my-0 md:mx-0 lg:mr-2 p-4">
					<h1 class="text-2xl font-bold md:text-4xl mt-2 mb-4 underline underline-offset-4" style="font-family: Jura ">Studies</h1>
					<ul class="list-disc m-4">
						<li class="mb-3">
							<h2 class="text-lg font-bold md:text-2xl capitalize m-b-2">Desktop publishing</h2>
							<p><em>Sep 2005-Jun 2006 </em> <br>
							<span class=""> CEPEGRA, Court-Saint-Etienne </span><br>
							-Learning to use Adobe Photoshop, Illustrator, Indesign software, mostly for print use</p>	
						</li>
						<li class="mb-3">
							<h2 class="text-lg font-bold md:text-2xl capitalize m-b-2">Web design</h2>
							<p><em>Sep 2004-Jun 2005 </em> <br>
							<span class=""> EICW, Waver </span><br>
							-Learning basis of HTML, CSS, Javascript</p>
						</li>
						<li class="mb-1">
							<h2 class="text-lg font-bold md:text-2xl capitalize m-b-2">HMO in IT-related cursus</h2>
							<p><em>Sep 2002-Jun 2003 </em> <br>
							<span class=""> Athénée Royal de Gembloux, Gembloux </span><br>
							-Learning of programming structure, software creation, network infrastructure</p>	
						</li>
					</ul>
				</div>
				<div class="bg-slate-50 dark:bg-gradient-to-r from-BCblue to-cyan-900 dark:text-slate-50 rounded-xl  md:mx-0 p-4">
					<h1 class="text-2xl font-bold md:text-4xl mt-2 mb-4 underline underline-offset-4" style="font-family: Jura ">Experiences</h1>
					<ul class="list-disc m-4">
						<li class="mb-3">
							<h2 class="text-lg font-bold md:text-2xl capitalize m-b-2">Sales Bedroom solutions</h2>
							<p><em>Nov 2017-Sep 2022 </em> <br>
							<span class=""> IKEA, Ghent </span><br>
							-B2C, Setting up the department, Training of the new colleagues</p>	
						</li>
						<li class="mb-3">
							<h2 class="text-lg font-bold md:text-2xl capitalize m-b-2">Store Manager APR (Dansaert)</h2>
							<p><em>2009-2016 </em> <br>
							<span class=""> Mac Line / Easy-m, Brussels </span><br>
							-B2B, B2C, Stock Managment, Team Management, Organisation of in-store events</p>
						</li>
						<li class="mb-1">
							<h2 class="text-lg font-bold md:text-2xl capitalize m-b-2">Sales Photography</h2>
							<p><em>2006-2009 </em> <br>
							<span class=""> Media-Markt, Brussels </span><br>
							-B2C, Giving training of basic photography, customer management, stock management <br>
							-EHBO and firefighter training</p>	
						</li>
					</ul>
				</div>
			</div>
			<div id="footer" class="bg-slate-50 dark:bg-gradient-to-r from-BCblue to-cyan-900 dark:text-slate-50 rounded-xl m-2 p-2 basis-full flex flex-col flex-wrap lg:flex-row text-xs drop-shadow-lg shadow-inner md:mx-12 lg:mx-20">
				This Website has been made by Thomas Cano Morant, using Astro and TailwindCSS (should be responsive, and following light and dark mode)
			</div>	
	</body>
</html>
